body {
  background-color: white;
}

.container.product {
  a {
    text-decoration: none;
  }

  h1.product-name {
    font-family: $headers-font;
    font-size: 4rem;
  }

  .product-price, h3 {
    font-family: $headers-font;
    font-size: 3rem;
  }

  form {
    font-family: $headers-font;
  }

  label {
    font-size: 2rem;
  }

}


.product-username {
  color: #FFB84C;
}

.btn-product-rent {
  width: 160px;
  background-color: #3C486B;
  border-color: #3C486B;
  font-size: 2rem;
  &:hover {
    background-color: #2f3854;
    color: #ffd54c;
    border-color: #2f3854;
  }
}

.product-page-card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  font-family: $headers-font;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
