<div class="footer">
  <div class="footer-links">
    <a href=""></a><i class="fa-solid fa-glasses fa-lg"></i>
    <a href=""></a><i class="fa-solid fa-bolt-lightning fa-lg"></i>
    <a href=""></a><i class="fa-sharp fa-solid fa-wand-sparkles fa-lg"></i>
    <a href=""></a><i class="fa-solid fa-broom-ball fa-lg"></i>
  </div>
</div>
