<div class="container-fluid">
</div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.api.playstation.com/vulcan/ap/rnd/202208/0921/3XopdGAJGRy3xNQKnQDvaCRs.png);">
    <div class="container">
      <h1>Find magical objects around you</h1>
      <br>
      <a class="btn btn-flat" href="/accessories">Explore now</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-glasses"></i>
    <a href="#"><i class="fa-sharp fa-solid fa-wand-sparkles"></i>
    <a href="#"><i class="fa-solid fa-broom-ball"></i></a>
  </div>
</div>
