<div class="container-fluid">
</div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.api.playstation.com/vulcan/ap/rnd/202208/0921/3XopdGAJGRy3xNQKnQDvaCRs.png);">
    <div class="container">
      <h1>A world of magic awaits you</h1>
      <a class="btn btn-flat" href="/accessories">Explore now</a>
    </div>
  </div>
</div>
