.btn-ghost {

  justify-content: center;
  width: 160px;
  font-family: "Harry P", "Helvetica", "sans-serif";
  background-color: #ffd54c;
  color: black;
  font-size: 2.2rem;
  border-color: #ffd54c;
  border-radius: 5px;
  transition-duration: 0.3s;



}



.btn-search {

  background-color: transparent;
  height: 60px;
  width: 220px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: solid 1px white;
  font-size: 2rem;
  font-family: "Harry P", "Helvetica", "sans-serif";
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.3s;
}






.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
