.cards-accessory {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

  a {
    text-decoration: none;
    color: #FFD54C;
    border: 1px solid #FFD54C;
    background-color: #0c0c0c;

    &:hover {
      background-color: #FFD54C;
      color: black;
      box-shadow: 0 0px 15px 7px rgba(255, 255, 255, 0.49);
    }
  }
}

.cards-accessory h2 {
  background-position: left;

}

.cards-accessory p {
  background-position: right;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-accessory {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-accessory {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-accessory {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-accessory {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-accessory {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
