.footer {
  background: #0c0c0c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.1;
  height: 100px;
  padding: 0px 50px;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links i:hover {
  color: #ffd54c;
}
