.my-rentals-card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
    align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.my-rentals-card .my-rental-price {
  font-size: 20px;
}

.my-rentals-card .my-rental-p {
  margin-bottom: 3px;
}

.bgdecline {
  text-decoration: none;
  text-align: center;
  width: 120px;
  font-family: $headers-font;
  background-color: #0c0c0c;
  color: #ffd54c;
  font-size: 2.2rem;
  border-color: #0c0c0c;
  border-radius: 5px;
  transition-duration: 0.2s;

  &:hover {
    color: #ffd54c;
  }
}

.bgaccept {
  text-decoration: none;
  text-align: center;
  width: 120px;
  font-family: $headers-font;
  background-color: #ffd54c;
  color: black;
  font-size: 2.2rem;
  border-color: #ffd54c;
  border-radius: 5px;
  transition-duration: 0.2s;

  &:hover {
    color: black;
  }
}

.align {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.2rem;
  padding: 2px 4px;
  font-weight: 500;
}

.cards.my-rentals-card p strong {
  font-size: 1.3rem;
}
