.navbar-lewagon {
  justify-content: space-between;
  background: #3C486B;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.nav-link {
  color: #FFD966;
}

.background-drop-menu {
  background-color: #3C486B;
}
